* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: auto;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: #5a5959;
    background-color: #F5F5F5;
}

main {
    width: 60%;
    margin: 0 auto;
    display: block;
}

header {
    min-height: 20.2vh;
    background-color: white;
}

footer {
    min-height: 38.2vh;
    background-color: #333;
    display: flex;
    align-items: center;
}

section {
    padding-bottom: 2%;
}

.card {
    margin: 3vh 0;
    margin: 0px 0px 4vh 0px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
    text-align: left;
    padding: 5px;
}

.box-shadow {
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
}

.nav {
    width: 100%;
    text-align: center;
}

.link {
    color: inherit;
    display: inline-block;
    height: 20px;
    margin: 0 15px;
    vertical-align: middle;
    padding-bottom: 10px;

}

.link:hover {
    transition: all 500ms ease;
    color: #97e7ff;
}

.table-style {
    width: 100%; 
    margin-left: 0; 
    margin-right: auto;
    text-align: center;
}

.sm-links {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.sm-icon:hover {
    filter: brightness(2)
}

/* TEXT/WORDS */

p {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.indent {
    text-indent: 8px;
}

.text-align-center {
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 5px;
}

h2, h3, h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}


/* IMAGES */

.madcap-cert {
    float: right;
}

.img-style {
    max-width: 50%;
    max-height: 50%;
}

.photo {
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
    float: left;
    margin: 3.5% 1% 0 0;
    filter: contrast(160%);
    border: 1px solid #5a5959;
}

.photo:hover {
    transform: scale(2);
    transition: all 500ms ease;
    border: 1px solid #5a5959;
}

/* EMOJI CURSORS */

.cursor-one:hover {
    cursor: url('emoji-icons/guitar-emoji.png'), auto;
}

.cursor-two:hover {
    cursor: url('emoji-icons/headphone-emoji.png'), auto;
}

.cursor-three:hover {
    cursor: url('emoji-icons/developer-emoji.png'), auto;
}

.cursor-four:hover {
    cursor: url('emoji-icons/gaming-emoji.png'), auto;
}

.cursor-five:hover {
    cursor: url('emoji-icons/food-emoji.png'), auto;
}

.cursor-six:hover {
    cursor: url('emoji-icons/reading-emoji.png'), auto;
}

.cursor-seven:hover {
    cursor: url('emoji-icons/fishing-emoji.png'), auto;
}

.cursor-eight:hover {
    cursor: url('emoji-icons/nature-emoji.png'), auto;
}

/* FLEXBOX STYLES*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.child {
    background: tomato;
    padding: 5px;
    width: 90px;
    height: 90px;
    margin: 5px;
    overflow: visible;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 80%;
    vertical-align: middle;
}

.flex-container-alt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 5px;
}

/* SCROLL TO TOP BUTTON */

html {
    scroll-behavior: smooth;
  } 

  #scroll-to-top {
    display: none;
    background-color: #5a5959;
    color: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 5px;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

#scroll-to-top:hover {
    transition: all 500ms ease;
    color: #97e7ff;
    text-shadow: 0px 0px 5px #fff;
}

/* DOWNLOAD CV BUTTON */

.download-cv-button {
    color: #F5F5F5;
    position: sticky;
    top:0;
    margin-left: 5%;
    background-color: #5a5959;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
}

.button-transition:before {
	content:'';
	position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background: rgba(255,255,255,0.3);
    transition: all 500ms ease;
    border-radius: 0px 0px 20px 20px;
}

.button-transition:hover:before {
	height: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
    .text-size {
        font-size: 20px;
    } 
    
     main {
        width: 98%;
    } 

    header {
        min-height: 30vh;
    } 

    #scroll-to-top {
        border-radius: 5px;
        position: fixed; 
        bottom: 40px; 
        right: 90px; 
    }

    .table-style {
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        line-height: 110%;
    }
  }
